{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="container">

<h2>Edit Employee</h2>

<form method="post">
{% csrf_token %}

<input type="text" name="name" value="{{ employee.name }}" required><br><br>

<input type="email" name="email" value="{{ employee.email }}" required><br><br>

<input type="text" name="department" value="{{ employee.department }}"><br><br>

<input type="number" name="salary" value="{{ employee.salary }}"><br><br>

<button type="submit">Update</button>

</form>


<br>
<a href="/">Back</a>

</div>
